.footer {
    @include useLargeContainer;
    width: 100vw;
    height: 100%;
    padding-top: 100px;
    position: relative;
    background: url(../images/footer/main-bg.png)  no-repeat;
    background-position: bottom center;
    z-index: 2;
}

.footer__form {
    position: relative;
    padding: 90px;
    background-image: url(../images/footer/form-bg.png);
    background-repeat: no-repeat;
    text-align: center;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    z-index: 3;
}



.footer__form:after {
    content: "";
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #f8c7ca;
    top: 0;
    right: 0;
    z-index: -1;
}


.footer__form-fields {
    margin: 50px auto;
}

.footer__form-field {
    margin-bottom: 30px;
}

.footer__form-field:last-child {
    margin: 0;
}

.footer__form-input {
    width: 500px;
    padding: 20px 35px;
    font-weight: 400;
    font-size: 24px;
    color: #357acb;
    border: none;
    border-radius: 25px;
    outline: none;
}

.footer__form-input::placeholder {
    color: #98a8af;
}


.footer__content {
    padding: 100px 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.footer__item {
    width: 15%;
}

.footer__title {
    padding-bottom: 50px;
    font-weight: 400;
    font-size: 18px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
}


.footer__text {
    padding-bottom: 30px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
}

.footer__text a {
    color: #ffffff;
}

.footer__socials {
    display: flex;
}


.footer__icon {
    margin-left: 10px;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2376cf;
    background-color: #ffffff;
    outline: none;
    text-decoration: none;
    border-radius: 50%;
    cursor: pointer;
}

.footer__icon:first-child {
    margin-left: 0;
}

.footer__icon:hover {
    background-color: #2376cf;
    color: #ffffff;
    transition: .1s linear;
}

.footer__icon i {
    font-size: 27px;
}

.footer__link-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}



.footer__link {
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: #ffffff;
    margin-bottom: 30px;
}

.footer__link:last-child {
    margin-bottom: 0;
}


@media (max-width: 1024px) {
    .footer__form {
        box-shadow: none;
    }
}

@media (max-width:1024px)  and (min-width: 769px) {

    .footer__icon {
        width: 35px;
        height: 35px;
    }

    .footer__icon i {
        font-size: 20px;
    }
}


@media (max-width: 768px) {

    // .footer {
    //     background-position: center center;
    // }

    .footer {
        background: rgb(0,174,255);
        background: linear-gradient(0deg, rgba(0,174,255,1) 0%, rgba(25,85,163,1) 100%);
    }



    .footer__item {
        padding: 10px 0;
        text-align: center;
        margin-bottom: 30px;
    }

    .footer__item:last-child {
        margin-bottom: 0;
    }

    .footer__socials {
        justify-content: center;
    }

    .footer__title {
        padding-bottom: 20px;
    }

    .footer__link-box {
        align-items: center;
    }
}

@media (max-width: 768px) and (min-width: 481px) {

    .footer {
        padding-top: 70px;
    }

    .footer__form-input {
        width: 250px;
        padding: 10px 35px;
        font-size: 20px;
    }

    .footer__content {
        padding: 70px 0;
    }

    .footer__item {
        width: 50%;
    }
}

@media (max-width: 480px) {

    .footer {
        padding-top: 30px;
    }

    .footer__form-fields {
        margin: 30px auto;
    }
    
    .footer__form-field {
        margin-bottom: 15px;
    }

    .footer__form-input {
        width: 100px;
        padding: 10px 35px;
        font-size: 16px;
    }

    .footer__content {
        padding: 20px 0;
    }

    .footer__item {
        width: 100%;
        border-bottom: 4px solid #ffffff;
    }

    .footer__item:last-child {
        border: none;
    }
}
