body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.container {
  box-sizing: border-box;
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 40px;
}

h1, h2, h3, h4 {
  margin: 0;
}

h2 {
  font-size: 40px;
  font-weight: 700;
}

h1 {
  font-size: 50px;
  font-weight: 700;
}

h3 {
  font-size: 36px;
}

p {
  margin: 0;
}

.btn {
  min-width: 240px;
  min-height: 80px;
  color: #ffffff;
  box-shadow: #447db9 0px 20px 30px -10px;
  border-radius: 40px;
  border: none;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  font-family: "Open Sans", sans-serif;
  outline: none;
  cursor: pointer;
  text-align: center;
}

.btn--blue {
  border: 2px solid #2870db;
  background-color: #2870db;
}

.btn--lightblue {
  border: 2px solid #00aeff;
  background-color: #00aeff;
}

.btn--blue:hover {
  background-color: #ffffff;
  color: #2870db;
  transition: 0.1s linear;
}

.btn--lightblue:hover {
  background-color: #ffffff;
  color: #00aeff;
  transition: 0.1s linear;
}

.section__title {
  text-align: center;
}

.section__title--dark {
  color: #263238;
  font-weight: 700;
}

.section__title--white {
  color: #ffffff;
  font-weight: 500;
}

@media (max-width: 1280px) {
  .btn--blue {
    font-weight: 600;
  }
}
@media (max-width: 1280px) and (min-width: 1025px) {
  h1 {
    font-size: 43px;
  }
}
@media (max-width: 1024px) and (min-width: 481px) {
  .btn {
    min-width: 200px;
    min-height: 60px;
  }
}
@media (max-width: 768px) and (min-width: 481px) {
  .container {
    padding: 0 20px;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 35px;
  }

  h3 {
    font-size: 30px;
  }
}
@media (max-width: 480px) {
  .container {
    padding: 0 12px;
  }

  .btn {
    min-width: 175px;
    min-height: 50px;
  }

  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 25px;
  }

  h3 {
    font-size: 20px;
  }
}
header {
  position: absolute;
  width: 100%;
  z-index: 999;
  padding-top: 60px;
}
header .container {
  max-width: 1440px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  user-select: none;
  color: #1c2056;
}

.header__title::first-letter {
  color: #2870db;
}

.header__nav {
  width: 550px;
  display: flex;
  justify-content: space-between;
}

.nav__link {
  position: relative;
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  border-radius: 35px;
}

.nav__link::after {
  content: "";
  margin-top: 10px;
  display: block;
  opacity: 0;
  width: 0;
  height: 2px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
}

.nav__link:hover::after {
  opacity: 1;
  width: 100%;
  transition: width 0.1s ease-in;
}

.burger {
  display: none;
  padding: 10px 0;
  background: none;
  border: 0;
  cursor: pointer;
}

.burger__item {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #ffffff;
  font-size: 0;
  color: transparent;
  position: relative;
}

.burger__item:before,
.burger__item:after {
  content: "";
  height: 100%;
  background-color: #ffffff;
  position: absolute;
  right: 0;
  z-index: 1;
}

.burger__item:before {
  width: 100%;
  top: -8px;
}

.burger__item:after {
  width: 100%;
  bottom: -8px;
}

@media (max-width: 1280px) and (min-width: 1025px) {
  .header__nav {
    width: 450px;
  }
}
@media (max-width: 1024px) {
  .header__title::first-letter {
    color: #77aeff;
  }

  .header__nav {
    display: none;
  }

  .burger {
    display: block;
  }
}
.intro {
  padding-bottom: 100px;
  background: url(../images/intro/main-bg.png) center right no-repeat;
  box-sizing: border-box;
  background-size: 50% auto;
  background-position: 100% 0;
  position: relative;
  width: 100vw;
  height: 100vh;
}

.intro__shape {
  position: absolute;
  width: auto;
  height: auto;
  bottom: 0;
  left: 0;
  transform: translateX(-50%);
}

.intro__inner {
  padding-top: 200px;
  width: 40%;
  z-index: 999;
}

.intro__title {
  color: #1c2056;
}

.intro__text {
  margin: 25px 0 70px 0;
  color: #756d91;
  line-height: 40px;
  font-size: 18px;
  font-weight: 400;
}

@media (max-width: 1280px) and (min-width: 1025px) {
  .intro__shape {
    transform: translateX(-80%);
  }

  .intro__text {
    margin: 20px 0 40px 0;
    font-size: 17px;
  }
}
@media (max-width: 1280px) and (min-width: 769px) {
  .intro__inner {
    width: 50%;
  }
}
@media (max-width: 1024px) {
  .intro__shape {
    display: none;
  }

  .intro__text {
    margin: 20px auto;
    line-height: 30px;
  }
}
@media (max-width: 1280px) and (min-width: 481px) {
  .intro__text {
    letter-spacing: 0.5px;
  }
}
@media (max-width: 768px) {
  .intro {
    height: 100%;
  }

  .intro__inner {
    width: 100%;
  }

  .intro__button {
    text-align: center;
  }
}
@media (max-width: 768px) and (min-width: 481px) {
  .intro {
    padding-bottom: 70px;
  }

  .intro__title {
    width: 50%;
  }

  .intro__text {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .intro {
    padding-bottom: 30px;
  }

  .intro__inner {
    text-align: center;
  }

  .intro__title {
    width: 100%;
  }

  .intro__text {
    font-size: 16px;
    letter-spacing: 0.2px;
  }
}
.work {
  position: relative;
  padding: 100px 0;
  background-image: url(../images/work/work-bg.png);
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: contain;
}

.work__shape {
  position: absolute;
  width: auto;
  height: auto;
  top: 0;
  right: -5%;
}

.work__content {
  padding-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr 1fr;
  place-items: end center;
  gap: 40px;
}

.work__item--circle {
  position: relative;
}

.work__item--circle:after {
  content: "";
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #ebbfc7;
  left: 100%;
  top: 100%;
  transform: translate(-50%, -80%);
  z-index: 1;
}

.work__item:last-child {
  align-self: center;
}

.work__item-box {
  position: relative;
  z-index: 2;
  padding: 30px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 30px;
}

.work__item-title {
  color: #263238;
  font-weight: 800;
  font-size: 18px;
  margin-bottom: 50px;
}

.work__item-text {
  color: #546e7a;
  font-weight: 16px;
  line-height: 35px;
}

@media (max-width: 1280px) and (min-width: 1025px) {
  .work__item-box {
    margin: 25px 0;
    padding: 40px;
  }

  .work__item-title {
    margin-bottom: 35px;
  }

  .work__item-text {
    line-height: 30px;
  }
}
@media (max-width: 1280px) and (min-width: 769px) {
  .work {
    padding: 50px 0;
  }

  .work__content {
    gap: 10px;
  }

  .work__item--circle:after {
    transform: translate(-55%, -115%);
  }
}
@media (max-width: 1024px) {
  .work__item-text {
    line-height: 25px;
  }
}
@media (max-width: 1024px) and (min-width: 769px) {
  .work__img {
    transform: scale(0.8);
  }

  .work__item-box {
    margin: 25px 0;
    padding: 30px;
  }

  .work__item-title {
    margin-bottom: 25px;
  }
}
@media (max-width: 768px) {
  .work {
    padding: 25px 0;
  }

  .work__shape {
    display: none;
  }

  .work__img {
    display: none;
  }

  .work__item {
    max-width: 480px;
    margin: 0 auto;
  }

  .work__item--circle:after {
    transform: translate(-70%, -100%);
  }

  .work__content {
    padding-top: 30px;
    display: block;
  }

  .work__item-box {
    margin: 40px 0;
    padding: 15px 30px;
  }

  .work__item-title {
    margin-bottom: 20px;
    font-size: 16px;
    text-align: center;
  }

  .work__item-text {
    text-align: center;
    font-size: 14px;
  }

  .work__button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 768px) and (min-width: 481px) {
  .work {
    padding: 70px 0;
  }
}
@media (max-width: 480px) {
  .work {
    padding: 30px 0;
  }
}
.statistics {
  padding: 100px 0;
}

.statistics__content {
  box-sizing: border-box;
  width: 100%;
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
}

.statistics__item {
  text-align: center;
}

.statistics__item span {
  font-weight: 400;
  font-size: 20px;
  color: #263238;
}

.statistics__value {
  margin: 15px 0;
  color: #1a56a3;
}

@media (max-width: 1024px) and (min-width: 481px) {
  .statistics__content {
    padding-top: 50px;
  }
}
@media (max-width: 768px) {
  .statistics__content {
    flex-direction: column;
  }

  .statistics__item {
    width: 100%;
  }
}
@media (max-width: 768px) and (min-width: 481px) {
  .statistics {
    padding: 70px 0;
  }

  .statistics__item {
    margin-bottom: 70px;
  }

  .statistics__item:last-child {
    margin-bottom: 0;
  }

  .statistics__value {
    margin: 12px 0;
  }
}
@media (max-width: 481px) {
  .statistics {
    padding: 30px 0;
  }

  .statistics__content {
    padding-top: 30px;
  }

  .statistics__item {
    border: 1px solid #1a56a3;
    border-radius: 30px;
    margin-bottom: 10px;
    padding: 8px 0;
  }

  .statistics__item span {
    font-size: 16px;
  }

  .statistics__value {
    margin: 4px 0;
  }
}
.news {
  position: relative;
  padding: 100px 0;
}

.news__shape {
  position: absolute;
  width: auto;
  height: auto;
  top: 0;
  left: 0;
  transform: translateX(-50%);
}

.news__content {
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.news__item {
  width: 30%;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border-radius: 20px;
}

.news__item--circle {
  position: relative;
}

.news__item--circle:after {
  content: "";
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #aed5e6;
  left: 90%;
  top: 100%;
  transform: translate(-10%, -80%);
  z-index: -1;
}

.news__img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
}

.news__text {
  padding: 15px 40px 20px 20px;
}

.news__title {
  font-weight: 700;
  font-size: 18px;
  color: #263238;
}

.news__subtitle {
  margin: 20px 0 30px;
  font-weight: 400;
  font-size: 14px;
  color: #546e7a;
  line-height: 30px;
}

.news__link {
  text-decoration: none;
  color: #5699fc;
  font-weight: 700;
}

.news__link:hover {
  color: #426aa6;
}

@media (max-width: 1280px) {
  .news__shape {
    display: none;
  }
}
@media (max-width: 1024px) {
  .news__text {
    text-align: center;
  }

  .news__subtitle {
    line-height: 25px;
  }
}
@media (max-width: 1024px) and (min-width: 769px) {
  .news__content {
    padding-top: 60px;
  }

  .news__text {
    padding: 0 30px 15px;
  }

  .news__subtitle {
    margin: 15px 0 20px;
    line-height: 25px;
  }
}
@media (max-width: 768px) {
  .news__content {
    padding-top: 30px;
  }

  .news__item {
    width: 100%;
    max-width: 480px;
    margin: 30px auto;
  }

  .news__item--circle:after {
    left: 100%;
    top: 100%;
    transform: translate(-60%, -80%);
  }

  .news__text {
    padding: 15px;
  }

  .news__subtitle {
    margin: 10px 0 15px;
  }
}
@media (max-width: 768px) and (min-width: 481px) {
  .news {
    padding: 70px 0;
  }
}
@media (max-width: 480px) {
  .news {
    padding: 30px 0;
  }

  .news__item--circle:after {
    width: 45px;
    height: 45px;
  }
}
.footer {
  width: 100vw;
  height: 100%;
  padding-top: 100px;
  position: relative;
  background: url(../images/footer/main-bg.png) no-repeat;
  background-position: bottom center;
  z-index: 2;
}
.footer .container {
  max-width: 1440px;
}

.footer__form {
  position: relative;
  padding: 90px;
  background-image: url(../images/footer/form-bg.png);
  background-repeat: no-repeat;
  text-align: center;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  z-index: 3;
}

.footer__form:after {
  content: "";
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #f8c7ca;
  top: 0;
  right: 0;
  z-index: -1;
}

.footer__form-fields {
  margin: 50px auto;
}

.footer__form-field {
  margin-bottom: 30px;
}

.footer__form-field:last-child {
  margin: 0;
}

.footer__form-input {
  width: 500px;
  padding: 20px 35px;
  font-weight: 400;
  font-size: 24px;
  color: #357acb;
  border: none;
  border-radius: 25px;
  outline: none;
}

.footer__form-input::placeholder {
  color: #98a8af;
}

.footer__content {
  padding: 100px 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__item {
  width: 15%;
}

.footer__title {
  padding-bottom: 50px;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.footer__text {
  padding-bottom: 30px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}

.footer__text a {
  color: #ffffff;
}

.footer__socials {
  display: flex;
}

.footer__icon {
  margin-left: 10px;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2376cf;
  background-color: #ffffff;
  outline: none;
  text-decoration: none;
  border-radius: 50%;
  cursor: pointer;
}

.footer__icon:first-child {
  margin-left: 0;
}

.footer__icon:hover {
  background-color: #2376cf;
  color: #ffffff;
  transition: 0.1s linear;
}

.footer__icon i {
  font-size: 27px;
}

.footer__link-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer__link {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  color: #ffffff;
  margin-bottom: 30px;
}

.footer__link:last-child {
  margin-bottom: 0;
}

@media (max-width: 1024px) {
  .footer__form {
    box-shadow: none;
  }
}
@media (max-width: 1024px) and (min-width: 769px) {
  .footer__icon {
    width: 35px;
    height: 35px;
  }

  .footer__icon i {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .footer {
    background: #00aeff;
    background: linear-gradient(0deg, #00aeff 0%, #1955a3 100%);
  }

  .footer__item {
    padding: 10px 0;
    text-align: center;
    margin-bottom: 30px;
  }

  .footer__item:last-child {
    margin-bottom: 0;
  }

  .footer__socials {
    justify-content: center;
  }

  .footer__title {
    padding-bottom: 20px;
  }

  .footer__link-box {
    align-items: center;
  }
}
@media (max-width: 768px) and (min-width: 481px) {
  .footer {
    padding-top: 70px;
  }

  .footer__form-input {
    width: 250px;
    padding: 10px 35px;
    font-size: 20px;
  }

  .footer__content {
    padding: 70px 0;
  }

  .footer__item {
    width: 50%;
  }
}
@media (max-width: 480px) {
  .footer {
    padding-top: 30px;
  }

  .footer__form-fields {
    margin: 30px auto;
  }

  .footer__form-field {
    margin-bottom: 15px;
  }

  .footer__form-input {
    width: 100px;
    padding: 10px 35px;
    font-size: 16px;
  }

  .footer__content {
    padding: 20px 0;
  }

  .footer__item {
    width: 100%;
    border-bottom: 4px solid #ffffff;
  }

  .footer__item:last-child {
    border: none;
  }
}

/*# sourceMappingURL=style.css.map */
